@min768: ~"(max-width: 768px)";

body {
  @media @min768 {
    .topbar {
      display: none;
    }
    .mainNav {
      .menuSecOne {
        justify-content: flex-end;
        .menu {
          display: none;
        }
      }
      .menuSecTwo {
        justify-content: flex-end;
        .social {
          display: none;
        }
        .weather {
          display: none;
        }
        .search {
          i {
            color: orange;
          }
        }
      }
    }
  }
}
