.stayHeroImage {
    background-image: url("/website/images/pool.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    div {
        display: flex;
        flex-direction: column;
        
    }
  }