.stayHeroImage {
    background-image: url("/website/images/pool.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;

    .stayHero {
        display: flex;
        flex-direction: column;
        color: @color-1;
        padding: 100px 0px 0px 130px;
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;

        h1 {
            .font-thin;
            font-family: @cursive-font;
            font-size: 36px;
        }

        h2 {
            .font-thin;
            font-size: 76px;
            text-transform: uppercase;
            margin: 10px 0px;;
        }

        p {
            font-size: 20px;
            line-height: 24px;
            width: 65%;
            .font-regular;
        }

        .buttonDiv {
            margin-top: 30px;
        }

        .button {
            .btn;
            background-color: transparent;
            color: white;
            border: 1px solid white;
        }

        .button:hover {
            .hover;
            border:1px solid @color-4;
        }
    }
  }

  .staySecOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    color: @color-4;

    h1 {
        font-family: @cursive-font;
        font-size: 50px;
        margin-bottom: 25px;
    }

    p {
        .font-thin;
        font-size: 18px;
        line-height: 26px;
        width: 60%;
        text-align: center;
    }
}

.staySecTwo {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8%;


    .el {
        background-position: center;
        background-size: cover;
        width: 325px;
        height: 150px;
        margin: 25px;
    }

    p {
        .font-thin;
        color: @color-6;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
    }

    p:hover {
        cursor: pointer;
        color: red;
    }
}

.staySecThree {
    display: flex;
    justify-content: space-evenly;
    padding: 0 8%;
    margin: 160px 0px 60px 0px;

    .sec {
        display: flex;
        width: 48%;

        img {
            // height: 250px;
            width: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0px 20px 0px 0px;
        }
        
        .right {
            display: flex;
            flex-direction: column;
            margin-left: 20px;

            h1 {
                .font-bold;
                color: @color-4;
                text-transform: uppercase;
                margin-bottom: 15px;
                font-size: 20px;
            }

            h2 {
                .font-thin;
                color: gray;
                text-transform: uppercase;
                font-size: 16px;
                margin-bottom: 15px;
            }

            p {
                .font-thin;
                color: gray;
                margin-bottom: 15px;
                font-size: 16px;
            }

            a  {
                .font-regular;
                color: @color-6;
                text-transform: uppercase;
                font-size: 18px;
                text-decoration: none;
            }
        }
    }
}