/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Start your code here: */
@media (max-width: 768px) {
  body .topbar {
    display: none;
  }
  body .mainNav .menuSecOne {
    justify-content: flex-end;
  }
  body .mainNav .menuSecOne .menu {
    display: none;
  }
  body .mainNav .menuSecTwo {
    justify-content: flex-end;
  }
  body .mainNav .menuSecTwo .social {
    display: none;
  }
  body .mainNav .menuSecTwo .weather {
    display: none;
  }
  body .mainNav .menuSecTwo .search i {
    color: orange;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body .topbar {
    display: none;
  }
  body .mainNav .menuSecOne {
    justify-content: flex-end;
  }
  body .mainNav .menuSecOne .menu {
    display: none;
  }
  body .mainNav .menuSecTwo {
    justify-content: flex-end;
  }
  body .mainNav .menuSecTwo .social {
    display: none;
  }
  body .mainNav .menuSecTwo .weather {
    display: none;
  }
  body .mainNav .menuSecTwo .search i {
    color: orange;
  }
  body .secFour .boxes .box {
    width: 49.7%;
  }
  body .secFour .boxes .three,
  body .secFour .boxes .four {
    display: none;
  }
  body .staySecThree {
    display: flex;
    flex-direction: column;
  }
  body .staySecThree .sec {
    width: 100%;
  }
  body .staySecThree .sec img {
    width: 300px;
  }
  body .staySecThree .one {
    margin-bottom: 50px;
  }
  body .secFive {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1025px) and (max-width: 1800px) {
  body .mainNav {
    height: 100px;
  }
}
.stayHeroImage {
  background-image: url("/website/images/pool.jpg");
  height: 800px;
  background-size: cover;
  background-position: center;
}
.stayHeroImage .stayHero {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 100px 0px 0px 130px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.stayHeroImage .stayHero h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-family: "Sacramento", cursive;
  font-size: 36px;
}
.stayHeroImage .stayHero h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-size: 76px;
  text-transform: uppercase;
  margin: 10px 0px;
}
.stayHeroImage .stayHero p {
  font-size: 20px;
  line-height: 24px;
  width: 65%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
.stayHeroImage .stayHero .buttonDiv {
  margin-top: 30px;
}
.stayHeroImage .stayHero .button {
  padding: 10px 30px;
  background-color: #f4f6f7;
  color: #031741;
  border: 2px solid #031741;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.stayHeroImage .stayHero .button:hover {
  background-color: #031741;
  color: #f4f6f7;
  cursor: pointer;
  border: 1px solid #031741;
}
.staySecOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
  color: #031741;
}
.staySecOne h1 {
  font-family: "Sacramento", cursive;
  font-size: 50px;
  margin-bottom: 25px;
}
.staySecOne p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 26px;
  width: 60%;
  text-align: center;
}
.staySecTwo {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8%;
}
.staySecTwo .el {
  background-position: center;
  background-size: cover;
  width: 325px;
  height: 150px;
  margin: 25px;
}
.staySecTwo p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  color: #ee5d21;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
.staySecThree {
  display: flex;
  justify-content: space-evenly;
  padding: 0 8%;
  margin: 160px 0px 60px 0px;
}
.staySecThree .sec {
  display: flex;
  width: 48%;
}
.staySecThree .sec img {
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 20px 0px 0px;
}
.staySecThree .sec .right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.staySecThree .sec .right h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  color: #031741;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 20px;
}
.staySecThree .sec .right h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  color: gray;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.staySecThree .sec .right p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  color: gray;
  margin-bottom: 15px;
  font-size: 16px;
}
.staySecThree .sec .right a {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  color: #ee5d21;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.font-thin {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
}
.font-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
.font-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}
.btn {
  padding: 10px 30px;
  background-color: #f4f6f7;
  color: #031741;
  border: 2px solid #031741;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.hover {
  background-color: #031741;
  color: #f4f6f7;
  cursor: pointer;
}
.square-btn {
  padding: 10px 30px;
  color: #ee5d21;
  border: 1px solid #ee5d21;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.square-btn-hover {
  background-color: #ad1f21;
  color: #fff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .main-content {
  padding-top: 200px;
}
.topbar {
  background-color: #f4f6f7;
  display: flex;
  justify-content: flex-end;
  padding: 0 8%;
}
.topbar ul {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.topbar ul li {
  padding: 0px 10px;
}
.topbar ul li a {
  color: #031741;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  border-bottom: 10px solid #e6f4f2;
  background-color: #fff;
}
.mainNav .menuSecOne {
  width: 56%;
  display: flex;
  align-items: center;
}
.mainNav .menuSecOne div p a {
  color: #ee5d21;
  font-size: 56px;
  margin: 15px 0px;
  text-decoration: none;
}
.mainNav .menuSecOne .menu {
  width: 50%;
}
.mainNav .menuSecOne .menu ul {
  display: flex;
  justify-content: space-evenly;
}
.mainNav .menuSecOne .menu ul li a {
  color: #031741;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-size: 22px;
  text-transform: uppercase;
}
.mainNav .menuSecTwo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainNav .menuSecTwo .social i {
  font-size: 20px;
  color: #aebebc;
  padding: 0px 5px;
}
.mainNav .menuSecTwo .weather {
  color: #031741;
  font-size: 22px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
}
.mainNav .menuSecTwo .search i {
  font-size: 28px;
  color: #aebebc;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f6f7;
  padding: 20px 0px;
}
.hero h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-size: 44px;
  margin: 50px 0px;
  text-align: center;
}
.hero h2 {
  font-family: "Sacramento", cursive;
  color: #031741;
  font-style: italic;
  font-size: 40px;
  margin: 5px 0px 30px 0px;
}
.hero p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 50px;
  text-align: center;
}
.hero div {
  margin-bottom: 30px;
}
.hero .button {
  padding: 10px 30px;
  background-color: #f4f6f7;
  color: #031741;
  border: 2px solid #031741;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.hero .button:hover {
  background-color: #031741;
  color: #f4f6f7;
  cursor: pointer;
}
.heroImage {
  background-image: url("/website/images/courtyard.jpg");
  height: 500px;
  background-size: cover;
  background-position: bottom;
}
.secOne {
  padding: 0 8%;
  margin: 100px 0px;
}
.secOne h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  color: #031741;
  font-size: 28px;
  margin-bottom: 20px;
}
.secOne h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  color: #ee5d21;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
.secOne p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  color: #031741;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.secOne .la {
  color: #031741;
}
.secOne .rejuv {
  color: #ee5d21;
}
.secOne .rejuv:hover {
  color: red;
  cursor: pointer;
}
.secFour {
  padding: 0 8%;
  margin: 30px 0px;
  background-color: #f4f6f7;
}
.secFour .heading {
  padding: 40px 0px 50px 0px;
}
.secFour .heading h1 {
  font-family: "Sacramento", cursive;
  color: #031741;
  font-style: italic;
  font-size: 45px;
}
.secFour .heading div {
  margin: 20px 0px;
}
.secFour .heading div .button {
  padding: 10px 30px;
  color: #ee5d21;
  border: 1px solid #ee5d21;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.secFour .heading div .button:hover {
  background-color: #ad1f21;
  color: #fff;
}
.secFour .boxes {
  display: flex;
  justify-content: space-between;
}
.secFour .boxes .box {
  width: 24.8%;
  height: 500px;
  background-image: url(../images/rollercoaster.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
}
.secFour .boxes .box div {
  border-left: 3px solid #fff;
  color: #fff;
  padding-left: 15px;
  margin-bottom: 20px;
}
.secFour .boxes .box div h2 {
  font-family: "Sacramento", cursive;
  font-size: 28px;
  margin-bottom: 10px;
}
.secFour .boxes .box div h3 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.secFour .boxes .box div h4 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.secFour .boxes .box p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  color: #fff;
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 24px;
}
.secFive {
  display: flex;
}
.secFive .orange,
.secFive .blue {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8%;
}
.secFive .orange h1,
.secFive .blue h1 {
  font-family: "Sacramento", cursive;
  font-size: 40px;
}
.secFive .orange h2,
.secFive .blue h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-size: 40px;
}
.secFive .orange p,
.secFive .blue p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 20px 0px 40px 0px;
}
.secFive .orange {
  background-color: #ee5d21;
  color: #fff;
}
.secFive .orange .button {
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 15px;
}
.secFive .orange .button:hover {
  background-color: #ad1f21;
  color: #fff;
}
.secFive .blue {
  background-color: #7acdce;
  color: #031741;
}
.secFive .blue .button {
  color: #031741;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #031741;
  padding: 10px 15px;
}
.secFive .blue .button:hover {
  background-color: #031741;
  color: #fff;
}
footer {
  background-color: #f4f6f7;
  display: flex;
  justify-content: space-around;
  height: 500px;
  padding: 60px 8%;
}
footer .list h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  color: #ee5d21;
  text-transform: uppercase;
  margin-bottom: 30px;
}
footer .list ul {
  display: flex;
  flex-direction: column;
}
footer .list ul li {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  color: gray;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 12px;
}
footer .list .social h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  color: gray;
  text-transform: uppercase;
}
